<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="ClearStorage()"> Clear <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            Select metric
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)= "changeMetricButton('Celsius')" >Celsius</a>
            <a class="dropdown-item" (click)= "changeMetricButton('Fahrenheit')" >Fahrenheit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)= "changeMetricButton('Both')" >Both</a>
          </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="inputText" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)="findLocation()">Search</button>
    </form>
  </div>
</nav>
<div *ngIf="MessageOn===true" class="alert alert-warning" role="alert">
    Don't have results - Check it out!
</div>
<div *ngIf="isExist===true" class="alert alert-warning" role="alert">
    This city already exist!
</div>
