  <div *ngIf="DataCity">
    <ul>
      <li *ngFor="let city of DataCity">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/cloudy.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> {{ city.name }} </h5>
            <p class="card-text"> Current temp: {{ city.main.temp }} </p>
            <p class="card-text"> Current temp:  </p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" (click)='getInfo(city.name)'>Go somewhere</a>
          </div>
        </div>

      </li>
    </ul>
  </div>

  <div *ngIf="!DataCity"> Loading...</div>






