
  <app-nav-bar></app-nav-bar>
  <br>
  <div class="album py-5 bg-light">
    <div class="contenedor"> 
    <div *ngIf="DataCity">
        <div *ngFor="let city of DataCity; let idx = index">
          <div class="row wrapper">
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <!-- <span align = "middle">
                  <img *ngIf="city.weather[0].main==='Clouds'" src='assets/Images/cloudy.png'>
                  <img *ngIf="city.weather[0].main==='Clear'" src='assets/Images/partly_cloudy.png'>
                  <img *ngIf="city.weather[0].main==='Haze'" src='assets/Images/sunny.png'>
                  <img *ngIf="city.weather[0].main==='Fog'" src='assets/Images/snow.png'>
                  <img *ngIf="city.weather[0].main==='Rain'" src='assets/Images/rain.png'>
                  <img *ngIf="city.weather[0].main==='Thunderstorm'" src='assets/Images/light.png'>
                </span> -->
                <span align="middle">
                  <img src='assets/Images/{{city.weather[0].main}}.png'>
                </span>

                <div class="card-body">
                  <h5 class="card-title"> {{ city.name }}, {{ city.sys.country}} </h5>
    
                  <p class="card-text" *ngIf= "selectMetric === 2 || selectMetric === 3 " > Current temp(F) : {{ city.main.temp }} </p>
                  <p class="card-text" *ngIf= "selectMetric === 1 || selectMetric === 3 " > Current temp(C) : {{ (city.main.temp  - 275.15 ).toFixed(2)  }} </p>
                  <p class="card-text"> Main: {{ city.weather[0].main}}  </p>
                  <p class="card-text"> Description: {{ city.weather[0].description}}</p>
                  <p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/detail', city.name+ &nbsp; ',' + &nbsp; city.sys.country]" >Details</a>
                    <a  class="btn btn-warning" (click)="deleteCity(idx)" >Delete</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
    <div *ngIf="!DataCity"> Loading...</div>
  </div>
</div>





